{include file="header.htm" /}
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div class="page">
    {include file="bar.htm" /}
    <div class="flexigrid">
        <div class="mDiv" style="margin-left: 30px;">
            <p style="font-size: 15px;line-height: 2em;">【插件方法】</p>
            <ol style="font-size: 15px;line-height: 2em;">
                将发布文档阅读权限选择开放浏览或者会员权限，并设置发布时间，系统会自动显示在前台页面上。
                <br/>
                <a href="https://www.eyoucms.com/plus/view.php?aid=8869" target="_blank">点击查看详情</a>
            </ol>
        </div>
    </div>
</div>
{include file="footer.htm" /}