{include file="header.htm" /}
<body style="background-color: rgb(255, 255, 255); min-width: auto;overflow: auto; cursor: default; -moz-user-select: inherit;">
<div class="page" style="min-width: auto;">
    <div class="flexigrid">
        <div yne-bulb-block="paragraph">
            <strong>第一步：登录小程序后台</strong>
        </div>
        <div yne-bulb-block="image" style="text-align: left; text-indent: 1em;">
            小程序后台登录网址：<a href="https://mp.weixin.qq.com" target="_blank">https://mp.weixin.qq.com</a>
        </div>
        <div yne-bulb-block="paragraph">
            <br/>
        </div>
        <div yne-bulb-block="paragraph">
            <strong>第二步：停止授权，看图1</strong>
        </div>
        <div yne-bulb-block="image" style="text-align: center;">
            <img alt="" src="http://www.eyoucms.com/uploads/litimg/minipro0002_1.jpg" style="margin-top: 8px; max-width: 98%;"/>
        </div>
        <div yne-bulb-block="paragraph" style="text-align: center;">
            （图1 停止授权）
        </div>
        <div yne-bulb-block="paragraph">
            <br/>
        </div>
        <div yne-bulb-block="paragraph">
            <strong>第二步：配置业务域名，看图2~图4</strong>
        </div>
        <div yne-bulb-block="image" style="text-align: center;">
            <img alt="" src="http://www.eyoucms.com/uploads/litimg/minipro0002_2.jpg" style="margin-top: 8px; max-width: 80%;"/>
        </div>
        <div yne-bulb-block="paragraph" style="text-align: center;">
            （图2 进入开发设置界面）
        </div>
        <div yne-bulb-block="image" style="text-align: center;">
            <img alt="" src="http://www.eyoucms.com/uploads/litimg/minipro0002_3.jpg" style="margin-top: 8px; max-width: 80%;"/>
        </div>
        <div yne-bulb-block="paragraph" style="text-align: center;">
            （图3 开始配置业务域名）
        </div>
        <div yne-bulb-block="image" style="text-align: center;">
            <img alt="" src="http://www.eyoucms.com/uploads/litimg/minipro0002_4.png" style="margin-top: 8px; max-width: 80%;"/>
        </div>
        <div yne-bulb-block="paragraph" style="text-align: center;">
            （图4 校对业务域名）
        </div>
    </div>
</div>
{include file="footer.htm" /}