{include file="header.htm" /}
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div class="page">
    {include file="bar.htm" /}
    <div class="flexigrid">
        <div class="mDiv">
            <p>【使用方法】</p>
            <ol>
                <li>打开<a href="https://ziyuan.baidu.com/" target="_blank">https://ziyuan.baidu.com/</a>登陆百度搜索资源平台</li>
                <li>打开<a href="https://ziyuan.baidu.com/xzh/commit/method" target="_blank">https://ziyuan.baidu.com/xzh/commit/method</a></li>
                <li>点击资源提交</li>
                <li>复制appid，填入"插件配置"里的"熊掌号appid"框里</li>
                <li>复制token，填入"插件配置"里的"熊掌号token"框里</li>
                <li>完成</li>
            </ol>
        </div>
    </div>
</div>
{include file="footer.htm" /}